# Python related files.
*.py[cod]
pip-log.txt
.mr.developer.cfg
.project
.pydevproject

# Ignore the Python package files.
core/site-packages/pre_build/*
core/site-packages/pre_install/*

.coverage
.tox
nosetests.xml
Gemfile.lock
tmp/*
pkg/*

# Keep these files.
!.gitkeep
